@import "color";

.containerBtn{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto 30px auto;
}
.timer{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.score{
    display: block;
    text-align: center;
    margin: 60px 0 80px 0;
}
.number{
    color: $lightYellow;
}
.over{
    font-size: 50px;
    text-align: center;
}