.title-1{
    font-size: 40px;
    line-height: 50px;
    span{
        display: block;
        font-weight: 600;
    }
}
.title-2{
    font-size: 30px;
}
.title-3{
    font-size: 24px;
}
.title-4{
    font-size: 20px;
}
.text-1{
    font-size: 14px;
    line-height: 20px;
}